<div class ='main'>
  <h1>item's name</h1>
  <div class='addItem'>
    <input (keyup.enter)="pushItem()" [(ngModel)] = "newItem" placeholder="add items here" class="addText">
    <button (click) = "pushItem()">Add me</button> 
  </div>
  <ul>
    <li *ngFor='let i of items; let ind = index'>{{i}}
      
      <span (click)='removeItem(ind)'>x</span>
    </li>
  </ul>
  <div class='addItem'>
    <input type="number" [(ngModel)] = "inputNumber" placeholder="add array here" class="addText">
    <button (click) = "pushArray()">Add me</button> 
    <br>
    {{store  | sort: 'descending'}}
    
    <ul>
     

      
    </ul>
  </div>
</div>